<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <RollingFile name="RollingFile"
                     fileName="/home/kane/Desktop/logs/spring-boot-logger-log4j2.log"
                     filePattern="/home/kane/Desktop/logs/spring-boot-logger-log4j2-%d{-dd-MMMM-yyyy}-%i.log">
            <JsonLayout complete="false" compact="false" objectMessageAsJsonObject="true">
            </JsonLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy
                        size="2 KB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="RollingFile" />
        </Root>
    </Loggers>
</Configuration>
